
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 20px;
  background-color: #f7f7f9;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  margin: 20px auto;
  background-color: #f7f7f9;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #344563;
}

ul {
  list-style: none;
}

header {
  padding: 10px 0;
  border-bottom-left-radius: 7%;
  background-color: white;
  margin-bottom: 100px;
  position: relative;
}

.nav-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: rgba(20, 35, 174, 0.771);
  display: grid;
  place-content: start;
  gap: 2.5rem;
  transition: all 0.5s linear;
}

.show-link {
  height: 100vh;
  padding: 100px 0 0 20px;
}

.close-container {
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 1000;
  cursor: pointer;
}

.toolbar-section a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: blue;
}

.see-container > a {
  width: 100%;
}

.nav-link li > a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-nav > a:hover {
  color: blue;
}

.toolbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.toolbar-hamburger {
  cursor: pointer;
}

.header-hero-section {
  margin-top: 20px;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  background: url(images/header-shapes\ mobile.png);
  background-position: right 100% bottom 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blur-header-hero-section {
  filter: blur(5px);
}

.hero-intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: rgba(23, 43, 77, 1);
  animation-name: slideLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.hero-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 2rem;
  color: #344563;
  padding: 10px 0;
}

.hero-connect-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 15px 0;
}

.hero-icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-icon-container img {
  width: 19px;
  height: 20px;
}

.project-container img {
  width: 100%;
}

.dropdown img {
  width: 19px;
}

.dropdown-list li img {
  width: auto;
}

.hero-icon-container img:hover {
  transition: all 0.7s linear;
  transform: scale(1.3);
}

.project-section {
  display: grid;
  width: 90%;
  margin: auto;
  gap: 7rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.dropdown-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
}

.project-description h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
  padding-bottom: 10px;
}

.project-description .experience-list,
.project-description .skill-list,
.pop-up .skill-list {
  display: flex;
  align-items: center;
  list-style-type: disc;
  gap: 2rem;
}

.pop-up .skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 20px;
}

.project-description .skill-list {
  list-style: none;
  padding: 10px 0;
  gap: 0.7rem;
}

.skill-list li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  background: #ebebff;
  padding: 7px;
  border-radius: 5px;
}

.project-description .experience-list li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.project-description .experience-list li:first-child {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  color: #344563;
}

.project-description > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 15px 0;
}

.project-description button,
.about-section button,
.see-container button {
  border-radius: 8px;
  outline: none;
  margin: 20px 0;
  padding: 12px;
  font-size: 17px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

.contact-btn {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #6070ff;
  align-self: flex-start;
}

.see-container button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.project-description button:active,
.about-section button:active,
.see-container button:active,
.contact-btn:active {
  background: #fff;
  background: #2230d2;
  border: 1px solid #7f8cff;
  color: #396df2;
  color: #fff;
}

.project-description button:disabled,
.see-container button:disabled,
.about-section button:disabled {
  background: #fff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.project-description button:hover,
.see-container button:hover,
.about-section button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.project-description button:focus,
.about-section button:focus,
.see-container button:focus,
.contact-btn:active {
  background: #fff;
  background: #2230d2;
  border: 1px solid #7f8cff;
  color: #396df2;
  color: #fff;
}

.experience-list li::marker {
  color: gray;
}

.about-section {
  background-color: #fff;
  margin-top: 100px;
  border-top-right-radius: 60px;
  padding: 100px 24px;
  overflow: hidden;
  width: 100%;
}

.about-section .about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding: 5px 0;
}

.about-section h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #172b4d;
}

.about-section .about-connect-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  padding: 7px 0;
}

.dropdown:not(:first-child) {
  padding: 15px 0;
  border-bottom: 1px solid  #dfe1e6;
}

.dropdown p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown p > span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.dropdown-list li span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.form-section {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(96, 112, 255, 1);
  background-image: url(images/contact-shapes.png);
  background-position: left 100% bottom 75%;
  background-repeat: no-repeat;
  background-size: 208px;
  padding: 100px 24px;
}

.form-section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.form-section > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 52px;
}

form input {
  width: 100%;
  padding: 10px;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
  outline: none;
}

form textarea {
  height: 170px;
  width: 100%;
  padding: 10px;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
  resize: none;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2000;
  background-color: #c1c7d0b6;
  padding: 20px;
  display: none;
}

.show-popup {
  display: block;
}

.pop-up .overlay {
  background: #fff;
  width: 99%;
  margin: auto;
  padding: 20px;
  border-radius: 16px;
}

.overlay .detail-img {
  width: 100%;
}

.pop-up .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop-up .head h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  text-transform: capitalize;
}

.pop-up .pop-up-close-icon {
  cursor: pointer;
}

.pop-up .project-description .experience-list {
  padding-bottom: 20px;
}

.pop-up .flex-pop {
  margin-top: 20px;
}

.pop-up-desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 10px;
}

.see-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .header-hero-section {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 0 200px;
    background: url(images/header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .blur-header-hero-section {
    filter: unset;
  }

  .nav-link {
    position: unset;
    z-index: unset;
    width: unset;
    height: unset;
    overflow: unset;
    background: unset;
    display: block;
    place-content: start;
    gap: unset;
    transition: unset;
  }

  .show-link {
    height: unset;
    padding: unset;
  }

  .toolbar-section {
    width: 80%;
    margin: auto;
  }

  .toolbar-hamburger {
    display: none;
  }

  .header-nav ul {
    display: flex;
    gap: 2rem;
  }

  .nav-link li > a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .see-break {
    display: none;
  }

  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  article:nth-child(even) {
    padding: 15px 30px;
  }

  article:nth-child(even) div:nth-child(1) {
    order: 2;
  }

  .project-description {
    margin-top: 20px;
  }

  main {
    width: 100%;
  }

  .project-section {
    width: 85%;
    margin: auto;
  }

  .about-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 100px 200px 100px 143px;
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .dropdown p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown.languages {
    margin: 10px 0  20px 0;
  }

  .dropdown-list {
    display: flex;
    gap: 0.7rem;
  }

  .dropdown-list li {
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;
  }

  .about-section .about-text {
    padding: 0;
  }

  .about-section .about-connect-text {
    padding: 12px 0 20px 0;
  }

  .about-section h2 {
    padding: 0;
  }

  .form-section {
    background-image: url(images/contact-shape-desktop.png);
    background-position: left 20% top 50%;
    background-size: 90%;
    border-top-left-radius: 100px;
  }

  .form-section form {
    width: 400px;
    margin: auto;
  }

  .form-section > p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }

  .contact-btn {
    align-self: center;
  }

  .pop-up {
    width: 100%;
    padding: 30px;
  }

  .pop-up .overlay {
    width: 80%;
  }

  .overlay .detail-img {
    width: 100%;
  }

  .pop-up .flex-pop {
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
}
